/* style.css */

li.money {
    background-color: lavenderblush;
    font: 900;
    color: hotpink;
}

.hit-it {
    background-color: lavenderblush;
    color: hotpink;
    font: large;
}

.wannabe {
    background-color: lightcyan;
    text-align: center;
    font-weight: bold;
    color: blue;
}

#firework {
    background-color: lightgoldenrodyellow;
    font-weight: bolder;
    text-align: center;
    color: goldenrod;
}

#i-kissed-a-girl {
    background-color: lavender;
    color: violet;
    text-align: center;
}