/* style.css */

li.money {
    background-color: lavenderblush;
    font: 900;
    color: hotpink;
}

.hit-it {
    background-color: lavenderblush;
    color: hotpink;
    font: large;
}

.wannabe {
    background-color: lightcyan;
    text-align: center;
    font-weight: bold;
    color: blue;
}

.ken {
    background-color: goldenrod;
    color: antiquewhite;
}

.the-spark {
    color: goldenrod;
    text-align: center;
    background-color: cadetblue;
}

#firework {
    background-color: lightgoldenrodyellow;
    font-weight: bolder;
    text-align: center;
    color: goldenrod;
}

#i-kissed-a-girl {
    background-color: lavender;
    color: violet;
    text-align: center;
}

#queen {
    background-color:aqua;
    color: gold;
    text-align: center;
}

#half-alive {
    background-color:cadetblue;
    color: gold;
}

#late-night-lust {
    background-color: lightgoldenrodyellow;
    color: gold;
}

#rave-hell {
    background-color: pink;
    color: skyblue;
}

#daisies {
    background-color: cadetblue;
    color: gold;
    text-align: center;
}